#landing {
    width: 100%;
    height: 100vh;
    position:relative;
    margin: 0 auto;
    background-image: url(../images/RESOURCE/Main/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#landing * {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow:auto;
    font-family: 'NanumSquare', sans-serif;
}

/* 로고, 로그인, 회원가입이 있는 navigation*/

#landing nav {
    width: 100%;
    height: 10rem;
    overflow:hidden;
}

#landing nav #pageLogo {
    width: 10rem;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 3rem;
    vertical-align: top;
}

#landing nav ul {
    display: inline-block;
    width: 30rem;
    height: 10rem;
    vertical-align: top;
    position: absolute;
    right: 0;
}

#landing nav ul li {
    display: inline-block;
    color: white;
    letter-spacing: 1.5px;
    width: 8.3rem;
    height: 2.35rem;
    text-align: center;
    padding-top: 0.65rem;
    margin-top: 3.6rem;
    cursor: pointer;
    font-weight: bold;
}

#landing nav ul li:nth-child(3) {
    background-color: #F4586D;
    border-radius: 6rem;
}


/* title 부분 */

#landing #titlesCover {
/*
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
    width: 100%;
    margin-top:7rem;
}

#landing #titlesCover h1 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.3rem;
}

#landing #titlesCover h2 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.37rem;
    margin-top: 2rem;
}

#landing #titlesCover #mainBtn {
    width: 16rem;
    height: 2.75rem;
    background-color: #F4586D;
    margin: 0 auto;
    display: table;
    border-radius: 50px;
    margin-top: 2rem;
}

#landing #titlesCover #mainBtn #mainBtnText {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}

@media all and (max-width:700px){
    #landing nav ul{
        width:100%;
        display:block;
        margin:0 auto;
        text-align: center;
    }
    
    #landing nav ul li{
        margin-right:2rem;
    }
}

@media all and (max-width:504px){
    #landing nav ul{
        display:none;
    }
}

