#mainWrapper{
    width:100%;
    height:100%;
    margin:0 auto;
    font-size:0;
    text-align: center;
}

/* side 부분 layout */
.sideLayout{
    width:16.5rem;
    height:100%;
    display:inline-block;
    vertical-align: top;
    overflow:hidden;
}

/* 로고 부분 */
.sideLayout #logoPart{
    width:100%;
    height:4rem;
    background-color:#ef92fa;
    position:relative;
    z-index:10;
}

.sideLayout #logoPart #mainLogo{
    width:5.5rem;
    margin-top:1.1rem;
    float:left;
    margin-left:2rem;
}

/* 네비게이션 부분 */
.sideLayout #navPart{
    width:100%;
    height:calc(100% - 4rem);
    background-color:#2f3a4c;
}

#navPart #userInfo{
    width:100%;
    height:8rem;
}


#navImgsCover .navImgs{
    width:100%;
    height:2.5rem;
    margin-top:5px;
}

#navImgsCover .navImgs:hover{
    background-color:#263241;
    cursor:pointer;
    border-left:2.7px solid #ef92fa;
}

#navImgsCover .navImgs:hover .imgTitles{
    color:white;
}
/* 이미지 */
.navImgs .imgs{
    position:relative;
    top:8.5px;
    right:3.75rem;
}

/* 이미지 세부 위치 조정 */
.navImgs .imgs#etcImg{
    margin-top:7.5px;
}

.navImgs .imgs#loveImg{
    margin-top:1.5px;
}

/* */

/* 이미지 텍스트 */
#navImgsCover .imgTitles{
    font-size:0.85rem;
    font-weight:bold;
    color:#b0bec5;
    letter-spacing: 0.5px;
    vertical-align: top;
    padding-top:0.8rem;
    float:right;
    position:relative;
    right:8.65rem;
}



/* main 부분 layout */
.sectionLayout{
    width:calc(100% - 16.5rem);
    height:100%;
    /*background-color:#e6e6e6;*/
    display:inline-block;
    vertical-align: top;
    background-color:#eeeff1;
    overflow-y:hidden;
}

.sectionLayout .headerLayout{
    width:100%;
    height:4rem;
    box-shadow:0 0 4px darkgray;
    background-color:white;
}