@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/RESOURCE/Main/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#register * {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow:auto;
    font-family: 'NanumSquare', sans-serif;
}

#register #register-card {
    width: 25.5rem;
    background-color: white;
    text-align: center;
    border-radius: 2px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#register #logo-image {
    display: inline-block;
    width: 45%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#register .register-form {
    text-align: left;
    width: 87%;
    margin: auto;
    color: #f4586d;
    font-weight: 800;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

#register .register-form input {
    height: 1.75rem;
    width: 100%;
    border: 0;
    font-size: 0.75rem;
    border-bottom: 2px solid #f4586d;
    font-family: 'noto sans kr';
    font-weight: 300;
}

#register #register-submit {
    cursor: pointer;
    background-color: #f4586d;
    color: white;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    width: 87%;
    margin: auto;
    margin-bottom: 1.5rem;
}

#register #register-info {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

#register #register-pp, #register-tos {
    color: #f4586d;
    cursor: pointer;
}