/* 기본 페이지 셋팅 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/RESOURCE/Main/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

* {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow: hidden;
    font-family: 'NanumSquare', sans-serif;
}


/* 로그인 폼 */

#loginForm {
    width: 27.5rem;
    height: 35rem;
    background-color: white;
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginForm #loginLogo {
    width: 12rem;
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
}


/* 이메일 입력 */

#loginForm label {
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 800;
    color: #F4586D;
    letter-spacing: 1px;
    margin-top: 3rem;
}

#loginForm .typeForms {
    width: 90%;
    height: 2.5rem;
    margin: 0 auto;
    display: block;
    border-bottom: 2px solid #F4586D;
    letter-spacing: 1px;
    padding-left: 2px;
    color: #666666;
    font-family:'Noto Sans KR';
    font-weight:300;
}


/* 로그인 및 비밀번호 버튼*/

#loginForm .clickBtns {
    width: 90%;
    margin: 0 auto;
    height: 3.5rem;
    border-radius: 1px;
    margin-top: 3rem;
    text-align: center;
    color: white;
    letter-spacing: 2.5px;
    padding-top: 1.25rem;
    cursor: pointer;
}

.clickBtns#loginBtn {
    background-color: #F4586D;
}

.clickBtns#fbLoginBtn {
    background-color: #4163aa;
    margin-top: 0.8rem;
}


/* 비밀번호 찾기 */

#loginForm #findPwd {
    font-size: 0.75rem;
    font-weight: bold;
    color: #505050;
    text-align: center;
    margin-top: 1.9rem;
    letter-spacing: 0.5px;
}
