/* 기본 페이지 셋팅 */

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/RESOURCE/Main/background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

* {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    overflow:auto;
    font-family: 'NanumSquare', sans-serif;
}


/* 로고, 로그인, 회원가입이 있는 navigation*/

nav {
    width: 100%;
    height: 10rem;
}

nav #pageLogo {
    width: 10rem;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 3rem;
    vertical-align: top;
}

nav ul {
    display: inline-block;
    width: 30rem;
    height: 10rem;
    vertical-align: top;
    position: absolute;
    right: 0;
}

nav ul li {
    display: inline-block;
    color: white;
    letter-spacing: 1.5px;
    width: 8.3rem;
    height: 2.35rem;
    text-align: center;
    padding-top: 0.65rem;
    margin-top: 3.6rem;
    cursor: pointer;
    font-weight: bold;
}

nav ul li:nth-child(3) {
    background-color: #F4586D;
    border-radius: 6rem;
}


/* title 부분 */

#titlesCover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#titlesCover h1 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.3rem;
}

#titlesCover h2 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.37rem;
    margin-top: 2rem;
}

#titlesCover #mainBtn {
    width: 16rem;
    height: 2.75rem;
    background-color: #F4586D;
    margin: 0 auto;
    display: table;
    border-radius: 50px;
    margin-top: 2rem;
}

#titlesCover #mainBtn #mainBtnText {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}